:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(239, 241, 245);
    --entry: rgb(204, 208, 218);
    --primary: rgb(76, 79, 105);
    --secondary: rgb(92, 95, 119);
    --tertiary: rgb(204, 208, 218);
    --content: rgb(92, 95, 119);
    --code-block-bg: rgb(76, 79, 105);
    --code-bg: rgb(230, 233, 239);
    --border: rgb(239, 241, 245);
}

.dark {
    --theme: rgb(30, 30, 46);
    --entry: rgb(49, 50, 68);
    --primary: rgb(205, 214, 244);
    --secondary: rgb(186, 194, 222);
    --tertiary: rgb(49, 50, 68);
    --content: rgb(186, 194, 222);
    --code-block-bg: rgb(205, 214, 244);
    --code-bg: rgb(24, 24, 37);
    --border: rgb(30, 30, 46);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
