@media (prefers-color-scheme: dark) {
	.gitalk-container {
		background-color: rgb(30, 30, 46); /* 背景颜色 */
		color: rgb(205, 214, 244); /* 文字颜色 */
	}
	.gitalk-comment {
		border-color: rgb(24, 24, 37); /* 评论边框颜色 */
	}
	.gitalk-comment .gitalk-comment-content {
		background-color: rgb(30, 30, 46); /* 评论内容背景颜色 */
	}
}
